@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

/*========== Colors ==========*/
    --first-color: #A0C49D;
    --first-color-alt: #C4D7B2;
    --first-color-light: #E1ECC8;
    --second-color: #675D50;

    --title-color: hsl(133, 47%, 15%);
    --text-color: hsl(0, 0%, 0%);
    --text-color-light: hsl(0, 0%, 100%);
    --border-color: hsl(228, 99%, 98%);
    --body-color: #ffffff;
    --container-color: #fff;

    --dark-vio: #0C134F;
  
/*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }

  /* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    overflow: hidden;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-image: linear-gradient(170deg, #8a9981 20%,
        #C1D0B5 40% ,#D6E8DB 60%, #FFF8DE 90% );
    color: var(--text-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

h1, h2, h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}  

.form-box{
    width: 380px;
    height: 500px;
    position:relative;
    margin: 6% auto;
    margin-top: 3%; 
    border: 8px solid #243e20;
    padding: 4%; 
    overflow: hidden;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, .1), 5px 5px 5px rgba(0,0,0,.35),
    inset -5px -5px 15px rgba(255, 255, 255, .1),
    inset 5px 5px 5px rgba(0,0,0,.35);
    border-radius: 20px;
/* HE */
    max-width: 380px;
    width: 100%;
 
}

.button_container{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.button-box{
    width: 220px;
    margin: 0 15px;
    position: relative;
    box-shadow: 0 0 12px 8px #221f17;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-image:linear-gradient(to right, #394337 ,#5d665a,#7c8e77) ;
    border-radius: 30px;
    transition: .5s;
    
}

#login{
    left: 450px;
}

#register{
    left: 50px;
}

.form_container{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    height: 100%;
    margin: 0;
  
}

.form_container .input-group{ 
     position: absolute;
     top: 90px;
    width: 70%; 
    transition: .5s;  

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    
} 

.inputbox{
    width: 100%;
    margin-top: 20px; 
    position: relative;
    
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000000;
    font-size: .75rem;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.inputbox input {
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #000000;
    border-bottom: 1px solid hsl(133, 47%, 15%);
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #000000;
    font-size: 1.2em;
    top: 10px;
}


.select-menu{
    width: 100px;
    margin: 15px 0;
}

.select-menu .select-btn{
    display: flex;
    height: 1px;
    background: #606C5D ;
    padding: 15px 5px;
    font-size: 11px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    color: var(--text-color-light);
}

.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}

.select-menu .options{
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}

.select-menu.active .options{
    display:block;
}

.options .option{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    align-items: center;
    background: #606C5D;
    color: var(--text-color-light);
    font-size: 10px;
    margin: 5px 0;
}

.btn_sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    display: inline-block;
    background: #606C5D ;
    color: white;
    padding: 12px 25px;
    border-radius: .5rem;
    font-size: 14px;
    box-shadow: 0, 16px, 32px hsla(252, 54%, 35%, 0.25);
    cursor: pointer;
    
}

.btn:hover{
    background-color: white;
    color: #606C5D ;
}

.btn-log{
    margin-top: 15%;
    margin-right: 8%;
}

.option-input {
    display: none;
}

 /* For small devices */

 @media screen and (max-width: 380px) {
    .container{
        padding: 15%;
    }

    .form-box{
        width: 100%;
        height: 100%;
    }

    .inputbox{
        width: 100%;
    }

    .form_container .input-group {
        width: 70%;    
    }

    .form-box{
        height: 70%;
    }
    
    .button_container{
        flex-direction: column;
        margin-top: 15%;
    }

    .btn_sec{
        margin-top: 20%;
    }
}


 @media screen and (max-width: 750px) {
    .container{
        padding: 15%;
    }

    .form-box{
        width: 100%;
        height: 100%;
    }

    .inputbox{
        width: 100%;
    }



    .form_container .input-group {
        width: 70%;    
    }

    .form-box{
        
        height: 70%;
       }
}








