
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color-first:#fff;
  --bg-color-second:#e9edf1;
  --bg-color-third:#006FFF;
  --bg-color-grey:rgb(255, 253, 253);

  --text-color-first:#000;
  --text-color-second:#3d3c3c;
  --text-color-third:#006FFF;
  --text-color-light:white;

  --hover-text-color:#fff;

  --bg-card-1:#ecd765;
  --bg-card-2:#3bc59a;
  --bg-card-3:#eec79c;
  --bg-card-4:#cb84f9;
  --bg-card-5:#d1e5ff;

  --more-and-less:#555;

  --bg-edit-product-form: rgba(0, 0, 0, 0.7);
}

/* variables dark mode */
.body.dark--mode{
  --bg-color-first:linear-gradient(to bottom right, #242424,#3d3d3d);
  --bg-color-second:#202020;
  --bg-color-grey:rgb(77, 77, 77);

  --text-color-first:#fff;
  --text-color-second:#c9c7c7;
  --text-color-light: black;
  

  --hover-text-color:#000;

  --bg-card-1:linear-gradient(to bottom right, #2b2b2b, #69602e);
  --bg-card-2:linear-gradient(to bottom right, #2b2b2b, #2c715b);
  --bg-card-3:linear-gradient(to bottom right, #2b2b2b, #654828);
  --bg-card-4:linear-gradient(to bottom right, #2b2b2b, #755090);
  --bg-card-5:linear-gradient(to bottom right, #2b2b2b, #060b2d);


  --more-and-less:#237158;

  --bg-edit-product-form: rgba(255, 255, 255,0.7);
}

/* HEADER */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f3;
    padding: 10px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right: 20px;
  }

  .logo h2{
    font-size: 16px;
  }

  .logo span{
    color: var(--text-color-third);
    font-family: 'Oswald', sans-serif;
 }
  
  .menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-grow: 1;
  }
  
  .menu li {
    margin-right: 3rem;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .logo-icons {
    height: 30px;
    margin-right: 1.5rem;
  }

  .logo-icons i{
    font-size: 24px;
  }
  
 .icon, .circle{
    display: none;
  }

  .log-reg  a {
    text-decoration: none;
    
  }




































































  
/* Media Queries */
@media screen and (max-width: 1024px), screen and (max-width: 768px), screen and (max-width: 480px) {
  .navigation {
    position: fixed;
    bottom: 2rem;
    box-shadow: 0 8px 24px hsla(228, 66%, 45%, .15);
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-left: 3rem;
    padding-bottom: 0.1rem;
    padding-top: 2rem;
    border-radius: 1.25rem;
    transition: .4s;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap; 
  }

  .menu {
    display: none;
  }

  .menu-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation ul {
    display: flex;
    width: 100%; 
    justify-content: center; 
    padding: 0; 
  }

  .navigation ul li {
    position: relative;
    width: 25%; 
    max-width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
    padding: 0;
  }

  .navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
  }

  .navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.7rem;
    text-align: center;
    color: #fff;
    transition: .5s;
  }

  .navigation ul li.active a .icon {
    transform: translateY(-32px);
  }

  .navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
  }

  .navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
  }

  .navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 1.8px solid #fff;
    transform: translateY(-37px) scale(0);
  }

  .navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(-37px) scale(1);
    background: linear-gradient(45deg, #2196f3, #e91e63);
    z-index: -1000;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background-color: red;
  }

  .navigation {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: blue;
  }

  .navigation {
    width: 80%;
  }
}

@media screen and (max-width: 480px) , screen and (max-width: 320px) {
    body {
      background-color: yellow;
    }
  
    .navigation {
      width: 100%;
      padding-left:1rem; 
      padding-right: 1.5rem;
    }
  
    .navigation ul {
      width: 100%;
      justify-content: space-between; 
    }
  
    .navigation ul li {
      width: calc(33.33% - 10px); 
      max-width: 40px;
      margin: 5px;
    }
  
    .navigation ul li a {
      padding-top: 2px;
      padding-bottom: 2px;
    }
  
    .navigation ul li a .icon {
      line-height: 60px;
      font-size: 1.5rem;
    }
  
    .navigation ul li a .text {
      font-size: 1rem;
    }
  
    .navigation ul li a .circle {
      width: 50px;
      height: 50px;
      transform: translateY(-27px) scale(0);
    }
  }

  @media screen and (max-width: 260px) {
    body {
      background-color: purple;
    }
  
    .navigation {
      width: 100%;
    }
  
    .navigation ul {
      width: 100%;
    }
  
    .navigation ul li {
      width: calc(33.33% - 10px); 
      max-width: 40px;
      margin: 5px;
    }
  
    .navigation ul li a {
      padding-top: 2px;
      padding-bottom: 1px;
    }
  
    .navigation ul li a .icon {
      line-height: 60px;
      font-size: 1.2rem;
    }
  
    .navigation ul li a .text {
      font-size: .6rem;
    }
  
    .navigation ul li a .circle {
      width: 40px;
      height: 40px;
      transform: translateY(-27px) scale(0);
    } 
  }
  

