
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
 overflow-x: hidden;
 background-color: var(--bg-color-body);
}

:root{
  --bg-color-body: rgb(166, 197, 237);

  --bg-color-first:#fff;
  --bg-color-second:#e9edf1;
  --bg-color-third:#006FFF;
  --bg-color-grey:rgb(255, 253, 253);

  --text-color-first:#000;
  --text-color-second:#3d3c3c;
  --text-color-third:#006FFF;
  --text-color-light:white;

  --hover-text-color:#fff;

  --bg-card-1:#ecd765;
  --bg-card-2:#3bc59a;
  --bg-card-3:#eec79c;
  --bg-card-4:#cb84f9;
  --bg-card-5:#ffffff;

  --more-and-less:#555;

  --bg-edit-product-form: rgba(0, 0, 0, 0.7);
}

/* variables dark mode */
.user-body.user-dark-mode{
  --bg-color-body: #202020;

  --bg-color-first:linear-gradient(to bottom right, #3e3e3e,#585858);
  --bg-color-second:#202020;
  --bg-color-grey:rgb(77, 77, 77);

  --text-color-first:#fff;
  --text-color-second:#c9c7c7;
  --text-color-light: black;
  

  --hover-text-color:#000;

  --bg-card-1:linear-gradient(to bottom right, #2b2b2b, #69602e);
  --bg-card-2:linear-gradient(to bottom right, #2b2b2b, #2c715b);
  --bg-card-3:linear-gradient(to bottom right, #2b2b2b, #654828);
  --bg-card-4:linear-gradient(to bottom right, #2b2b2b, #755090);
  --bg-card-5:linear-gradient(to bottom right, #000000 ,#006FFF);


  --more-and-less:#237158;

  --bg-edit-product-form: rgba(255, 255, 255,0.7);
}

/* HEADER */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color-first);
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
  width: 10%;

}

.logo {
  margin-right: 20px;
}

.logo h2 {
  font-size: 16px;
  color: var(--text-color-first);
}

.logo span {
  color: var(--text-color-third);
  font-family: 'Oswald', sans-serif;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-grow: 1; 
}

.menu li {
  margin-right: 3rem;
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu .text{
  color: var(--text-color-first);
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  width: 30%;
}

.logo-icons {
  display: flex;
  align-items: center;
  height: 30px;
  margin-left: 5%;
}

.logo-icons i {
  font-size: 24px;
  margin-left: 10px;
}

.logo-icons a{
  text-decoration: none;
  color: #000;
}

.logo-icons a span{
  font-size: 20px;
}

.icon,
.circle {
  display: none;
}

.log-reg {
  margin-right: 5%;
}

.log-reg a {
  text-decoration: none;
}

.log-reg-btn {
  font-size: 14px;
  padding: 10px 20px;
  margin: 0 5px;
  background-color: var(--text-color-third);
  color: var(--text-color-first);
  border-radius: 15px;
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.3);
}

.logo-icons .cart-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-box{
  position: absolute;
  top:15%;
  right: 2rem;
  width: 15rem;
  box-shadow: var(--text-color-first);
  border-radius: .5rem;
  padding:2rem;
  text-align: center;
  border-radius: .5rem;
  border:1px solid var(--text-color-first);
  background: var(--bg-color-first) ;
  display: none; 
  animation:fadeIn .2s linear;
  z-index: 2;
}

.account-box.active{
  display: block;
}

.account-box p{
  font-size: 1rem;
  color:var(--text-color-first);
  margin-bottom: .35rem;
}

.account-box p span{
  color:purple;
}

.account-box .delete-btn{
  margin-top: 0;
}

.account-box div{
  margin-top: 1.5rem;
  font-size: 18px;
  color:var(--hover-text-color);
}

.account-box div a{
  color:var(--hover-text-color);
}

.account-box div a:hover{
  text-decoration: underline;
}

.delete-btn{
  padding: .5rem 1.75rem;
  border: none;
  border-radius: 5px;
  background-color: var(--text-color-third);
  color: var(--text-color-first);
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.logo-icons, .cart-logo .cart, .cart-logo span {
  color: var(--text-color-first);
}

.logo-icons .user-moon{
  display: block;
  color: var(--text-color-third);
  cursor: pointer;
}

.user-body.user-dark-mode .user-moon{
  display: none;
}

.logo-icons .user-sun{
  color: #ecd765;
  display: none;
}

.user-body.user-dark-mode .user-sun{
  display: block;
  cursor: pointer;
}


/* +++++++++++++++++++ HOME +++++++++++++++++ */

.home-container {
  display: flex;
  height: 500px;
  margin-bottom: 3rem;
}

.left-cont {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.home-title {
  font-size: 48px;
  text-align: center;
  margin: 0 2rem;
  color: var(--text-color-first);
}

.home-title span{
  color: var(--text-color-third);
}

.right-cont {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

 .right-cont img {
  width: 90%;
  height: auto;
  border-radius: 28% 72% 30% 70% / 100% 0% 100% 0%;
  animation: wiggling 10s infinite;
  border: 30px solid var(--text-color-third);
}


@keyframes wiggling {
  0% {
    transform: translate(0);
  }
  33.33% {
    transform: translate(-20px, 20px);
  }
  66.67% {
    transform: translate(-20px, 0);
  }
  100% {
    transform: translate(0);
  }
}

/* +++++++++++++++  BRANDS ++++++++++++++++++  */

.brands-container .brand-title{
  font-size: 32px;
  margin: 0 2rem;
  color: var(--text-color-first);
}

.brand-images{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  margin: 2rem 2rem;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.4);
  border-radius: 20px;

}

.brands-container img{
  /* filter: brightness(0) invert(1);  */
  height: auto;
  width: 200px;
  
}

/* +++++++++++++++  BAGS ++++++++++++++++++  */
.bags-container{
  margin-top: 5%;
}

.bags-container .bag-title{
  font-size: 32px;
  margin: 0 2rem;
  color: var(--text-color-first);
}

.bag-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 2rem;
  padding: 1rem;
  
}

.bag-box {
  width: 23%;
  margin-bottom: 20px;
  border-radius: 12px;
  background: white;
  padding: 1rem;
  box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.4);
}

.bag-box .brand-bag{
  text-align: center;
  margin-bottom: .5rem;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.bag-box img {
  width: 100%;
  height: 60%;
  border-radius: 12px;
}

.bag-name {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: black;
}

.bag-price {
  margin-top: 1rem;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: black;
}

.button-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.button-cont .bag-btn{
  padding: .8rem 4rem;
  background-color:var(--bg-color-third);
  cursor: pointer;
  color: var(--hover-text-color);
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 15px;
  box-shadow: 0 8px 12px hsla(0, 0%, 0%, 0.3);
  text-align: center;
  text-decoration: none;
}

.button-cont .bag-btn:hover{
  background-color:var(--text-color-light);
  color: var(--bg-color-third); 
}

/* +++++++++++++++  SHOWROOM ++++++++++++++++++  */
.showroom-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin-bottom:5% ;

}

.showroom-container .title-desc{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.showroom-container .title-desc .showroom-title-cont{
  width: 90%;
}

.showroom-container .title-desc .showroom-title-cont .showroom-title{
  font-size: 32px;
  margin: 0;
  color: var(--text-color-first);
}

.showroom-container .title-desc .about-showroom{
  padding: 2rem;
  text-align: justify;
  width: 90%;
}

.showroom-container .title-desc .about-showroom .showroom-par{
  font-size: 18px;
  color: var(--text-color-first);
  line-height: 1.8rem;
}

.showroom-container .wrapper {
  display: flex;
  max-width: 90%;
  width: 40%;
  height: 300px;
  background: var(--bg-color-first);
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: var(--bg-color-third);
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: var(--bg-color-first);
  font-size: 15px;
  transition: all 0.3s linear;
  cursor: pointer;
}
i.button:active {
  transform: scale(0.94) translateY(-50%);
}
i#prev {
  left: 25px;
}
i#next {
  right: 25px;
}

.image-container .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}

.image-container {
  width: 300px; 
  height: 300px; 
  overflow-x: hidden;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
  border: 10px solid var(--bg-color-first);
}

/* +++++++++++++++  Contact ++++++++++++++++++  */
.contact-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.contact-container .conatct-cont{
  width: 100%;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-first);
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.3);
}

.contact-container .conatct-cont .contact-title{
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 32px;
  color: var(--text-color-first);
}

/* +++++++++++++++  FOOTER ++++++++++++++++++  */
.footer {
  width: 100%;
}

.footer .box-container {
  margin: 0;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.footer .box-container .box {
  width: calc(25% - 3rem); 
  margin-bottom: 2rem; 
}

.footer .box-container .box h3 {
  text-transform: uppercase;
  color: var(--text-color-first);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.footer .box-container .box p,
.footer .box-container .box a {
  display: block;
  font-size: 1rem;
  color: var(--text-color-second);
  padding: 0.5rem 0;
}

.footer .box-container .box p i,
.footer .box-container .box a i {
  color: var(--text-color-third);
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: var(--text-color-third);
  text-decoration: underline;
}

  

/* //////////////////////////////////////////THE ABOUT PAGEEEEE //////////////////////////////////////////////*/
/* Base styles */
.history-section {
  padding: 1rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.history-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.history-description {
  font-size: 18px;
  margin-bottom: 5rem;
  color: #000000;
}

.timeline {
  position: relative;
  margin-top: 40px;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: var(--bg-color-third);
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  margin-bottom: 60px;
}

.timeline-year {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color-third);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.timeline-content {
  position: relative;
  background-color: var(--bg-color-body);
}

.timeline-title {
  font-size: 24px;
  margin-bottom: 10px;
  cursor: pointer;
}

.timeline-content p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color-first);
}

.timeline-content p.hidden {
  display: none;
}

/* phylo */

.philosophy-section .container p{
  margin: 1rem 2rem;
}

.about-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.about-cont .box-container{ 
  width: 250px;
  height: 280px;
  margin: .6rem ;
  
}

.about-cont .box-container .box{ 
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style:preserve-3d;
  transition: all 0.8s ease;
  background-color: var(--bg-color-first);
  border-radius: 10px;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.3);
  
}

.about-cont .box-container .box:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.box-container .box .thefront{
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  padding: 1rem;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.box-container .box .theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.theback img{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
}

.thefront .title {
  font-size: 28px;
  text-align: center;
}

 .thefront p{
  padding-top: 2rem;
  font-size: 18px;
  text-align:center;
}

/* EXPRIENCE */
.experience-card {
  flex: 1;
  max-width: 240px;
  background-color: var(--bg-color-first);
  color: black;
  padding:  1rem;
  margin: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.3);
}

.experience-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.experience-cont img {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

.experience-cont h2 {
  color: black;
  text-align: center;
}

.experience-cont p {
  color: black;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  padding-top: 5%;
}

/* TESTIMONIALS
.testimonials-container{
  width: 100%;
  height: 100%;
  position: relative;
}

.veiw-box{
  width: 900px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;    
}

#testimonials{
  display: flex;
  transition: 0.5s;
}
.user{
  width: 800px;
  text-align: center;
  padding: 20px 70px;
  box-sizing: border-box;
  background: #321764;
  border-radius: 200px;
  box-shadow: 0 10px 20px -5px #00000061;
  position: relative;
}

.space{
  margin: 0 70px;
}
.user img{
  width: 120px;
  border-radius: 50%;
  border: 10px solid #e8ecff;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}
.user p{
  font-size: 22px;
  color: #cbb4f5;
  line-height: 32px;
  margin: 60px 0 30px;
}
.user p::before{
  content: '\201C';
  font-size: 120px;
  height: 0;
  display: inline-block;
  vertical-align: -57;
  margin-right: 10px;
}
.user p::after{
  content: '\201D';
  font-size: 120px;
  height: 0;
  display: inline-block;
  vertical-align: -70;
  margin-left: 10px;
}
.user h3{
  font-size: 26px;
  color: #cbb4f5;
}
.controls{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.controls span{
  width: 15px;
  height: 15px;
  background: #321764;
  border-radius: 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.5s;
}
.active{
  width: 45px !important;
} */

































/* Media Queries */
@media screen and (max-width: 1024px), screen and (max-width: 768px), 
screen and (max-width: 480px),screen and (max-width: 260px) {
  .navbar-right { 
    width: 100%;
  }

  .navigation {
    position: fixed;
    bottom: 2rem;
    box-shadow: 0 8px 24px hsla(228, 66%, 45%, .15);
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-left: 3rem;
    padding-bottom: 0.1rem;
    padding-top: 2rem;
    border-radius: 1.25rem;
    transition: .4s;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap; 
    z-index: 9999;
  }

  .menu {
    display: none;
  }

  .menu-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation ul {
    display: flex;
    width: 100%; 
    justify-content: center; 
    padding: 0; 
  }

  .navigation ul li {
    position: relative;
    width: 25%; 
    max-width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
    padding: 0;
  }

  .navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
  }

  .navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.7rem;
    text-align: center;
    color: #fff;
    transition: .5s;
  }

  .navigation ul li.active a .icon {
    transform: translateY(-32px);
  }

  .navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
  }

  .navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
  }

  .navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 1.8px solid #fff;
    transform: translateY(-37px) scale(0);
  }

  .navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(-37px) scale(1);
    background: linear-gradient(45deg, #2196f3, #e91e63);
    z-index: -1000;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background-color: red;
  }

  .navigation {
    width: 80%;
  }

  /* +++++++++++++++++++++  HOME +++++++++++++++++ */
  .home-pattern img {
    width: 80%;
  }

  .home-title {
    font-size: 36px; 
  }

  /* +++++++++++++++++++++  BRANDS +++++++++++++++++ */
  .brand-images {
    flex-wrap: wrap;
  }

  /* +++++++++++++++++++++  BAGS +++++++++++++++++ */
  .bag-box {
    width: 30%;
  }

  /* +++++++++++++++++++++  FOOTER +++++++++++++++++ */
  .footer .box {
    width: calc(33.33% - 2rem); 
    margin: 0;
  }

  /* =============================================== ABOUT PAGE ================================== */
  /* HISTORY */
  .history-title {
    font-size: 28px;
  }

  .timeline-year {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  .timeline-content .timeline-title{
    font-size: 22px;
  }

  .timeline-content {
    margin: 0 40px;
  }

  .timeline-content p {
    font-size: 14px;
  }

  /* EXPRIENCE */
  .experience-card {
    max-width: 200px;
  }
  .experience-cont img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: blue;
  }

  .navigation {
    width: 80%;
  }

  /* +++++++++++++++++++++  HOME +++++++++++++++++ */
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
  }
  
  .left-cont, .right-cont {
    width: 100%;
  }

  .left-cont{
    margin-top: 5%;
    margin-bottom: 2rem;
  }
  
  .right-cont img {
    width: 70%;
  }

  .home-title {
    font-size: 28px; 
  }

  /* +++++++++++++++++++++  BRANDS +++++++++++++++++ */
  .brand-images {
    justify-content: center;
  }

  /* +++++++++++++++++++++  BAGS +++++++++++++++++ */
  .bag-box {
    width: 45%;
  }

  .bag-name {
    font-size: 16px;
  }

  .bag-price {
    font-size: 18px;
  }
/* +++++++++++++++++++++  SHOWROOM +++++++++++++++++ */
  .showroom-container{
    flex-direction: column;
    padding: 0;
  }

  .showroom-container .title-desc{
    width: 90%;
  }

  .showroom-container .title-desc .about-showroom{
    width: 100%;
  }

  .showroom-container .title-desc .showroom-title-cont .showroom-title{
    margin: 0;
  }

  .showroom-container .wrapper {
    width: 60%;
  }

  /* +++++++++++++++++++++  FOOTER +++++++++++++++++ */
  .footer .box {
    width: calc(50% - 1rem); 
  }

  /* =============================================== ABOUT PAGE ================================== */
  /* HISTORY */
  .history-title {
    font-size: 24px;
  }

  .timeline-year {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
  }

  .timeline-content .timeline-title{
    font-size: 22px;
  }

  .timeline-content {
    margin: 0 40px;
  }

  .timeline-content p {
    font-size: 12px;
  }

  /* EXPRIENCE */
  .experience-card {
    max-width: 150px;
  }
  .experience-cont img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 480px){
    body {
      background-color: yellow;
    }

    .log-reg-btn {
      padding: 5px 10px;
    }
  
    .navigation {
      width: 100%;
      padding-left:1rem; 
      padding-right: 1.5rem;
    }
  
    .navigation ul {
      width: 100%;
      justify-content: space-between; 
    }
  
    .navigation ul li {
      width: calc(33.33% - 10px); 
      max-width: 40px;
      margin: 5px;
    }
  
    .navigation ul li a {
      padding-top: 2px;
      padding-bottom: 2px;
    }
  
    .navigation ul li a .icon {
      line-height: 60px;
      font-size: 1.5rem;
    }
  
    .navigation ul li a .text {
      font-size: 1rem;
    }
  
    .navigation ul li a .circle {
      width: 50px;
      height: 50px;
      transform: translateY(-27px) scale(0);
    }

    /* +++++++++++++++++++++  HOME +++++++++++++++++ */
    .home-title {
      font-size: 28px;
    }
  
    .right-cont img {
      width: 80%;
    }

    /* +++++++++++++++++++++  BRANDS +++++++++++++++++ */
    .brand-images {
      flex-direction: column;
      align-items: center;
    }

    /* +++++++++++++++++++++  BAGS +++++++++++++++++ */
    .bag-box {
      width: 100%;
    }
  
    .bag-name {
      font-size: 18px;
    }
  
    .bag-price {
      font-size: 16px;
    }

    .button-cont .bag-btn{
      margin: auto 2rem;
      padding:.5rem 3rem;
    }

    /* +++++++++++++++++++++  SHOWROOM +++++++++++++++++ */
    .showroom-container .wrapper {
      width: 80%;
    }

    /* +++++++++++++++++++++  CONTACT +++++++++++++++++ */
    .contact-container .conatct-cont .contact-title{
      padding: 0 1rem;
      font-size: 24px;
    }

    /* +++++++++++++++++++++  FOOTER +++++++++++++++++ */
    .footer .box {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem; 
    }

    /* =============================================== ABOUT PAGE ================================== */
  /* HISTORY */
  .history-title {
    font-size: 20px;
  }

  .timeline-year {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    top: -40px;
  }

  .timeline-content .timeline-title{
    font-size: 20px;
  }

  .timeline-content {
    margin: 0 20px;
  }

  .timeline-content p {
    font-size: 10px;
  }
  /* phylo */
  .thefront .title {
    font-size: 20px;
  }

  /* EXP */
  .experience-card {
    max-width: 150px;
    margin: .8rem ;
  }
  .experience-cont img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 260px) {
    body {
      background-color: purple;
    }

    .log-reg-btn {
      padding: 3px 6px;
      font-size: 12px;
    }
  
    .navigation {
      width: 100%;
    }
  
    .navigation ul {
      width: 100%;
    }
  
    .navigation ul li {
      width: calc(33.33% - 10px); 
      max-width: 40px;
      margin: 5px;
    }
  
    .navigation ul li a {
      padding-top: 2px;
      padding-bottom: 1px;
    }
  
    .navigation ul li a .icon {
      line-height: 60px;
      font-size: 1.2rem;
    }
  
    .navigation ul li a .text {
      font-size: .6rem;
    }
  
    .navigation ul li a .circle {
      width: 40px;
      height: 40px;
      transform: translateY(-27px) scale(0);
    } 

    /* +++++++++++++++++++++  HOME +++++++++++++++++ */
    .home-title {
      font-size: 24px;
    }

    .right-cont img {
      width: 80%;
      border: 15px solid var(--text-color-third);
    }

    /* +++++++++++++++++++++  BRANDS +++++++++++++++++ */
    .brand-images img {
      width: 150px;
    }

    /* +++++++++++++++++++++  BAGS +++++++++++++++++ */
    .bag-box .brand-bag{
      font-size: 15px;
    }
  
    .bag-name {
      font-size: 12px;
    }
  
    .bag-price {
      font-size: 14px;
    }
    /* +++++++++++++++++++++  SHOWROOM +++++++++++++++++ */
    .showroom-container .wrapper {
      width: 100%;
    }

    /* +++++++++++++++++++++  CONTACT +++++++++++++++++ */
    .contact-container .conatct-cont .contact-title{
      padding: 0 1rem;
      font-size: 18px;
    }

    /* +++++++++++++++++++++  FOOTER +++++++++++++++++ */
    .footer .box {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem; 
    }

  /* =============================================== ABOUT PAGE ================================== */
  /* HISTORY */
  .history-title {
    font-size: 18px;
  }

  .timeline-year {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 9px;
    top: -36px;
  }

  .timeline-content .timeline-title{
    font-size: 16px;
  }

  .timeline-content {
    margin: 0 20px;
  }

  .timeline-content p {
    font-size: 9px;
  }

  /* phylo */
  .about-cont .box-container .box {
    width: 100%;
    margin: 5px;
  }

  .thefront .title {
    font-size: 18px;
  }

  /* EXPRIENCE */
  .experience-card {
    max-width: 100%;
    margin: 1rem;
  }
  .experience-cont img {
    width: 30px;
    height: 30px;
  }

}

